.CardList {
}

.CardList .textInfo {
  font-family: serif;
  color: black;
  font-size: 180%;
}

.CardList .container {
  width: 220px;
  height: 321px;
  background: #fff;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
}

.CardList .container:hover {
  background: #add8e6;
  transform: translateY(-5px) scale(1.005);
}
.CardList .Link {
  text-decoration: none;
}
