.CardListItem {
  width: 100vw;
  height: 100vh;
  background-color: rgb(174, 180, 170);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Image {
  border-radius: 100px;
  border: 2px solid #fff;
  text-align: center;
  width: 289px;
  height: 255px;
}
.Content {
  position: relative;
  width: 400px;
  height: 800px;
  margin: 0 auto;
  padding-top: 20px;
  background: linear-gradient(to bottom left, #333300 -5%, #ffffff 100%);
  text-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0;
}

.Content:hover {
  background: rgb(102, 114, 113);
}

.HeaderInfo {
  text-align: center;
  font-family: Snell Roundhand, cursive;
  color: #fff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 7px;
}
.DeskriptionInfo {
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.ImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.CardListItem a {
  text-decoration: none;
}
.ButtonArea {
  width: 400px;
  text-align: center;
  background: rgb(102, 114, 113);
  height: 40px;
  border-radius: 0;
}
.Button {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: 0.8em 2em;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    radial-gradient(
      190% 100% at 50% 0%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(0, 0, 0, 0) 50%
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}
.Button:active {
  top: 1px;
  box-shadow: none;
}
.Button:hover {
  transition: 0.5s linear;
  background-position: -200% 0, 0 0;
}
.Erorr {
  text-align: center;
  color: brown;
}

.BtnArea {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 4px;
}
.BtnNewFamilyMember {
  width: 200px;
  position: relative;
  display: inline-block;
  color: #777674;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px,
    rgba(100, 100, 100, 0.3) 3px 7px 3px;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px / 100%;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.3)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
}
.BtnNewFamilyMember :active {
  top: 1px;
}
